[Unit]
Description=Minecraft Server: %i
After=network.target

[Service]
WorkingDirectory=%h/minecraft/bedrock_server

Restart=on-success

ExecStart=%h/minecraft/bedrock_server/bedrock_server

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
